@media screen and (max-width: 800px) {
    .welcome-container {
        width: 425px;
    }
}

@media screen and (max-width: 600px) {
    .bird-description {
        overflow-y: auto;
        width: 215px;
        margin: 0 auto;
    }
}
